{% import _self as self %}

{% macro render(test) %}
    {% import _self as self %}

    {% if test.cases is defined %}
        {{ include(test.template, test) }}
    {% else %}
        {% for name, child in test %}
            {{ self.render(child) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="{{ language|default('en') }}" dir="{{ direction|default('ltr') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="index.css?{{ timestamp }}">
</head>
<body class="demo">
BDDY----SSSZZZZZZZz **** ==== 999eeEEss
<div class="demo--title">{{ title }}</div>
<div class="demo--content">
    {{ self.render(children) }}
</div>
<script type="text/javascript" src="index.js?{{ timestamp }}"></script>
</body>
</html>
