{% verbatim %}
{% set timestamp = 'now'|date('U') %}
{% endverbatim %}
<!DOCTYPE html>
<html lang="{% verbatim %}{{ language|default('en') }}{% endverbatim %}"
      dir="{% verbatim %}{{ direction|default('ltr') }}{% endverbatim %}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="index.css?{% verbatim %}{{ timestamp }}{% endverbatim %}">
</head>
<body class="demo">
<div class="demo--title">{{ name }}</div>
<div class="demo--content">
    {% verbatim %}{% for test_case in test_cases %}{% endverbatim %}
    <div class="test-case">
        <header>
            {% verbatim %}{{ test_case.title }}{% endverbatim %}
        </header>
        <div class="content">
            {% verbatim %}{% include "@Test/{% endverbatim %}{{ name }}{% verbatim %}/index.html.twig" with test_case.data %}{% endverbatim %}
        </div>
    </div>
    {% verbatim %}{% endfor %}{% endverbatim %}
</div>
<script type="text/javascript" src="index.js?{% verbatim %}{{ timestamp }}{% endverbatim %}"></script>
</body>
</html>
